@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url(https://necolas.github.io/normalize.css/);
body,html{
    padding:0px;
    margin:0px;
    background-color: #191919;
    scroll-behavior:smooth;
    transform: smooth;
    position: relative;
    /* margin-bottom: 1000px; */
}

a{
    text-decoration: none;
}


#face1{
    width: 100%;
    height: 100%;
    background:linear-gradient(0deg,rgba(255, 255, 255, 0.2),transparent),url("../materials/AAUPBackground2.jpeg") center center fixed;
    background-size:100% auto;
    background-repeat:no-repeat;
}

#site-header-bg{
    padding-bottom: 1%;
    position: fixed;
    width:100%;
    z-index: 1;

}

.MenuScrollingDown-bg{
    background-color: white;
    animation: MenuScrollDownbg 0.5s ease-out forwards;
}

.MenuScrollingDown-menu{
    animation: MenuScrollDownMenu 0.5s ease-out forwards;
}

.MenuScrollingUp-menu{
    animation: MenuScrollDownUp 0.5s ease-out forwards;
}


#site-header {
    padding-top: 60px;
    display:flex;
    justify-content: space-between;
    z-index: 1;
}

#about{
    margin-right: 100px;
    list-style: none;
    text-decoration: none;
    font-size: 25px;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#about::after{
    content:'';
    display:block;
    width: 0px;
    height: 2px;
    background: white;
    transition: width .3s;
}


#about:hover::after{
    width: 100%;
    transition: width .3s;
}

#site-logo a{
    color: black;
    font-size: 40px;
    margin-left: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    
}


#intro-block {
    position: absolute;
    top: 15%;
    left: 100px;
}

#intro-block h1{
    font-size: 65px;
    font-family: 'Rubik', sans-serif;
    transform: translate(0,-20px);
    transition: opacity .5s ease-out, transform .5s ease-out;
    transition: transform 1s ease-out;
}

#intro-block p{
    margin-top: -5%;
    font-size: 30px;
    transform: translateX(50px);
    transition: transform 1s ease-out;
    animation: fade-in 2s;
}


.arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
}
.arrow span{
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}


.filter-search-box{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin-top: 10%;
    width: 500px;
    height: 50px;
    padding: 10px;
    margin-left:auto;
    margin-right: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 8px 6px -10px;
}


.drop_down{
    width:150px;
    border-right: 2px solid #dde2f1;
    color: #9fa3b1;
    position: relative;
    cursor: pointer;
}

.DropDownMenu{
    display: none;
    background: #fff;
    position: absolute;
    top:70px;
    left: -10px;
    list-style: none;
    width: 150px;
    border-radius: 5px;;
    padding:20px;
    margin:0;
    box-shadow: 8px 8px 6px -10px #b3c6ff;
    z-index:3;

}

.DropDownMenu li{
    padding-bottom: 20px;
}

.DropDownMenu li:last-child{
    padding-bottom: 0px;
}

.DropDownMenu li:hover{
    color: #6f768d;
}

#default:after{
    content: '';
    position: absolute;
    top:0;
    right:0;
    top: 20px;
    right: 20px;
    border: 8px solid;
    border-color: #5078ef transparent transparent transparent;
}


.active{
    display: block;
}


#default{
    text-transform: uppercase;
    padding: 15px 15px;
    font-size: 14px;
}

.search_feild{
    width:350px;
    height: 100%;
    position: relative;
}

.search{
    outline: none;
    width: 100%;
    height: 100%;
    border:0;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 32px;
    color: #6f768d;
}

.fas{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 22px;
    color: #5078ef;
    cursor: pointer;
}
  #AAUPmap{
    display: block;
    margin-top: 3%;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    margin-bottom: 500px;
}

.map {
    position: relative;
    z-index: 2;
  }
  
.info-button {
    padding: 2px 10px;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    cursor: pointer;
}


.hover-active{
    box-shadow: 0 0 10px red, 0 0 40px red, 0 0 10px red;
}
  
  .info-text {
    position: absolute;
    display: block;
  }

  .info-text{
    padding: 20px;
    color:white;
    background-color: black;
    z-index: 2;
    display: none;
  }

  .info-button._1 {
    left: 47.6%;
    top: 39.5%;
  }
  
  .info-button._2 {
    left: 44.8%;
    top: 52.6%;
  }

  .info-button._3 {
    left: 42.4%;
    top: 60.7%;
  }

  .info-button._4 {
    left: 42.2%;
    top: 71.6%;
  }

#_4A{
    left: 41.8%;
    top: 68.1%;
  }

  .info-button._5 {
    left: 42.9%;
    top: 83.7%;
  }

  .info-button._6 {
    left: 45.6%;
    top: 68%;
  }
  
  .info-button._7 {
    left: 48.8%;
    top: 60.8%;
  }
  
  .info-button._8A {
    left: 51.5%;
    top: 56.8%;
  }

  .info-button._8B {
    left: 53.7%;
    top: 63%;
  }

  .info-button._9 {
    left: 54.1%;
    top: 41.5%;
  }

  .info-button._10 {
    left: 57.6%;
    top: 46.1%;
  }

  .info-button._11 {
    left: 59.8%;
    top: 15.8%;
  }
  
  .info-button._12 {
    left: 55.5%;
    top: 18.8%;
  }
  
  .info-button._13 {
    left: 49.9%;
    top: 24.2%;
  }

  .info-button._14 {
    left: 49.3%;
    top: 12%;
  }
  
  .info-button._15 {
    left: 46.4%;
    top: 28%;
  }

  .info-button._16 {
    left: 46.6%;
    top: 11%;
  }
  
  .info-button._17 {
    left: 40.3%;
    top: 34%;
  }

  .info-button._18 {
    left: 40.6%;
    top: 42%;
  }

  .info-button._19 {
    left: 44.5%;
    top: 79.1%;
  }
  
  .info-button._20 {
    left: 39.9%;
    top: 69.1%;
  }
  
  .info-button._21 {
    left: 39.4%;
    top: 49.7%;
  }

  .info-button._22 {
    left: 39.1%;
    top: 27.3%;
  }

  .info-button._23 {
    left: 49.8%;
    top: 1.7%;
  }

  .info-button._24 {
    left: 52%;
    top: 3.5%;
  }

  .info-button._25 {
    left: 49.9%;
    top: 7.8%;
  }

  .info-button._26 {
    left: 40.8%;
    top: 14%;
  }
  
  .info-button._27 {
    left: 47.6%;
    top: 35%;
  }

  .info-button._28 {
    left: 44.3%;
    top: 46.9%;
  }

  .info-button._29 {
    left: 40.1%;
    top: 60%;
  }
  
  .info-button._30 {
    left: 48.3%;
    top: 66.5%;
  }

  .info-button._31 {
    left: 41%;
    top: 76.5%;
  }
  





  

/* 
-----------------
keyframes*
*/
@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

@keyframes MenuScrollDownbg{
    from{
        height: 13%;
    }
    to{
        height: 6%;
    }
}

@keyframes MenuScrollDownMenu{
    from{
        margin-top: 0px;
    }
    to{
        margin-top: -30px;
    }
}
@keyframes MenuScrollDownUp{
    from{
        margin-top: -30px;
    }
    to{
        margin-top: 0px;
    }
}